html, body {
  box-sizing: border-box;
  background-color: #3FEEE6;
  height: 100%;
  padding: 5px;
  margin: 0px;
}

.container {
	height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 110px 80px auto 80px;
    grid-template-areas:
    		"t t t t t t t t t t t t"
    		"m m m m m m m m m m m m"
			  "d d d d d d d d d d d d"
			  "f f f f f f f f f f f f";
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
}

body{
  margin: 0px;
  background-color: #3FEEE6;
  font-size: 18px;
}

.title {
  grid-area: t;
  background-color: #FC4445;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: white;
	text-shadow: black 2px 2px;
	text-shadow: black 2px 2px;
  font-size: 50px;
  font-style: italic;
}

h1 span {
  font-weight: 900;
  font-style: none;
}

ul {
	list-style: none;
  margin-right: 50px;
  font-weight: 400;
}

ul li{
  font-style: italic;
	display:inline;
	font-size: 15px;
	display: inline;
}

.menu {
  grid-area: m;
  background-color:#3FEEE6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dancer{
  border-radius:10px;
  position:absolute;
}

.HulkDancer {
  border:none;
  height:114px;
  width:100px;
}

.BlinkyDancer {
  border:none;
}

.dancefloor {
  grid-area: d;
  background-image: url("dancefloor.jpg");
}

@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes twist {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}

/*
  ==================BUTTON============
*/

.btn {
  font-family: 'Rubik', sans-serif;
  color: #FC4445 ;
  text-transform: uppercase;
  background: #3FEEE6;
  padding: 20px;
  border: 4px solid #FC4445;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.btn:hover {
  color: white ;
  border-radius: 50px;
  border-color: white ;
  transition: all 0.3s ease 0s;
}

/*
  =======================DISCO BALL========================
*/
