html, body {
  box-sizing: border-box;
  background-color: #3FEEE6;
  height: 100%;
  padding: 5px;
  margin: 0px;
}

.container {
	height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 110px 80px auto;
    grid-template-areas:
    		"t t t t t t t t t t t t"
    		"m m m m m m m m m m m m"
			  "d d d d d d d d d d d d";
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
}

body{
  margin: 0px;
  background-color: #3FEEE6;
  font-size: 18px;
}

.title {
  grid-area: t;
  background-color: #FC4445;
  border-top: 2px solid black;
  border-left: .5px solid black;
  border-right: .5px solid black;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: #CAFAFE;
	text-shadow: black 2px 2px;
	text-shadow: black 2px 2px;
  font-size: 50px;
  font-style: italic;
}

h1 span {
  font-weight: 900;
  font-style: none;
}

ul {
	list-style: none;
  margin-right: 50px;
  font-weight: 400;
}

ul li{
  font-style: italic;
	display:inline;
	font-size: 15px;
	display: inline;
}

.menu {
  grid-area: m;
  background-color: #55BCC9;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: .5px solid black;
  border-right: .5px solid black;
}

.dancer {
  border-radius:10px;
  position:absolute;
}

.HulkDancer {
  border:none;
  background-repeat: no-repeat;
}

.BlinkyDancer {
  border:none;
}

.SpiderDancer {
  border: none;
}

.SymbioteDancer {
  width: 100px;
  height: auto;
}

.MystiqueDancer {
}

#MystiqueDancer {
  cursor: help;
}

.dancefloor {
  grid-area: d;
  background-image: url("dancefloor.jpg");
  background-repeat: repeat;
  background-size: 150px 150px;
  border-left: .5px solid black;
  border-right: .5px solid black;
  border-bottom: 2px solid black;
}

@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes rock {
	0% {
		transform: rotateZ(0);
	}
	33% {
		transform: rotateZ(90deg);
  }

  66% {
    transform: rotateZ(-90deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

@keyframes twist {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.7);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.7);
	}
}


/*
  ==================BUTTON============
*/

.btn {
  font-family: 'Rubik', sans-serif;
  color: #FC4445 ;
  text-transform: uppercase;
  background: #55BCC9;
  padding: 20px;
  border: 4px solid #FC4445;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.btn:hover {
  color: #3FEEE6 ;
  border-radius: 50px;
  border-color: #3FEEE6 ;
  transition: all 0.3s ease 0s;
}

/*
  =======================DISCO BALL========================
*/
